<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Đặt Vé Máy Bay</title>
	<link rel="stylesheet" type="text/css" href="./bower_components/materialize/dist/css/materialize.css">
</head>
<body ng-app="mainApp" ng-controller="mainCtr">
	<div class="header centered valign-wrapper">
		<h1 class="valign">Đặt vé máy bay</h1>
	</div>
	<div class="container">

	</div>
	
	<script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./bower_components/materialize/dist/js/materialize.js"></script>
	<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="./script/configs/config.js"></script>
	<script type="text/javascript" src="./script/controllers/main-controller.js"></script>
</body>
</html>