<div class="box dataTables_wrapper no-footer">
    <div class="box-header">
        <h3 class="box-title">Booking Collection</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form class="form-inline">
            <table datatable="ng" class="row-border hover">
                <thead>
                    <tr>
                        <th>MÃ ĐẶT CHỖ</th>
                        <th>THỜI GIAN ĐẶT CHỖ</th>
                        <th>TỔNG TIỀN</th>
                        <th>TRẠNG THÁI ĐẶT CHỖ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="booking in listBooking">
                        <td>{{booking.MA}}</td>
                        <td>{{booking.THOIGIANDATCHO}}</td>
                        <td>{{booking.TONGTIEN}}</td>
                        <td>{{booking.TRANGTHAI}}</td>
                        <td>
                            <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!-- /.box-body -->
</div>
