<div class="box dataTables_wrapper no-footer">
    <div class="box-header">
        <h3 class="box-title">Passengers Collection</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form class="form-inline">
            <table datatable="ng" class="row-border hover">
                <thead>
                    <tr>
                        <th>MÃ ĐẶT CHỖ</th>
                        <th>DANH XƯNG</th>
                        <th>HỌ</th>
                        <th>TÊN</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="passenger in listPassengers">
                        <td>{{passenger.MADATCHO}}</td>
                        <td>{{passenger.DANHXUNG}}</td>
                        <td>{{passenger.HO}}</td>
                        <td>{{passenger.TEN}}</td>
                        <td>
                            <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!-- /.box-body -->
</div>
