<div class="box dataTables_wrapper no-footer">
    <div class="box-header">
        <h3 class="box-title">Flights Collection</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="row-border hover">
            <thead>
                <tr>
                    <th>
                        <div class="form-group add-form">
                            <label>
                                <input class="form-control" type="text" name="id" ng-model="flight.ma" value="" placeholder="Mã Chuyến Bay" />
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group add-form">
                            <label>
                                <input type="text" class="form-control" name="noidi" ng-model="flight.noidi" value="" placeholder="Nơi Đi" />
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group add-form">
                            <label>
                                <input type="text" class="form-control" name="noiden" ng-model="flight.noiden" value="" placeholder="Nơi Đến" />
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group add-form">
                            <label>
                                <input type="text" class="form-control" name="ngay" ng-model="flight.ngay" value="" placeholder="Ngày" />
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group add-form">
                            <label>
                                <input type="text" class="form-control" name="gio" ng-model="flight.gio" value="" placeholder="Giờ"/>
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group add-form">
                            <label>
                                <input type="text" class="form-control" name="hang" ng-model="flight.hang" value="" placeholder="Hạng" />
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group add-form">
                            <label>
                                <input type="text" class="form-control" name="mucgia" ng-model="flight.mucgia" value="" placeholder="Mức Giá"/>
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group add-form">
                            <label>
                                <input type="number" class="form-control" name="soluongghe" ng-model="flight.soluongghe" value="" placeholder="Số Lượng Ghế" />
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group add-form">
                            <label>
                                <input type="number" class="form-control" name="giaban" ng-model="flight.giaban" value="" placeholder="Giá Bán">
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group add-form">
                            <button class="btn btn-success" ng-click="addFlight()" style="width: 30px; height: 30px; padding: 0; margin-bottom: 10px; margin-left: 5px"><i class="fa fa-plus"></i></button>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
        <form class="form-inline">
            <table datatable="ng" id="flight-table" class="row-border hover">
                <thead>
                    <tr>
                        <th>MÃ</th>
                        <th>NƠI ĐI</th>
                        <th>NƠI ĐẾN</th>
                        <th>NGÀY</th>
                        <th>GIỜ</th>
                        <th>HẠNG</th>
                        <th>MỨC GIÁ</th>
                        <th>SỐ LƯỢNG GHẾ</th>
                        <th>GIÁ BÁN</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="flight in listFlights">
                        <td>{{flight.MA}}</td>
                        <td>{{flight.NOIDI}}</td>
                        <td>{{flight.NOIDEN}}</td>
                        <td>{{flight.NGAY}}</td>
                        <td>{{flight.GIO}}</td>
                        <td>{{flight.HANG}}</td>
                        <td>{{flight.MUCGIA}}</td>
                        <td>{{flight.SOLUONGGHE}}</td>
                        <td>{{flight.GIABAN}}</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateFlightModal" ng-click="editFlight($index)"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!-- /.box-body -->
</div>

<div class="modal fade" id="updateFlightModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Flight</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-inline">
                        <div class="col-md-3 col-md-offset-2">
                            <label for="noidi-flight">Nơi Đi</label>
                        </div>
                        <input style="margin-top: -6px; margin-bottom: 2px;" ng-model="current.NOIDI" type="text" class="form-control" id="noidi-flight" value="{{current.NOIDI}}">
                    </form>
                </div>
                <div class="row">
                    <form class="form-inline">
                        <div class="col-md-3 col-md-offset-2">
                            <label for="noiden-flight">Nơi Đến</label>
                        </div>
                        <input style="margin-top: -6px; margin-bottom: 2px;" ng-model="current.NOIDEN" type="text" class="form-control" id="noiden-flight" value="{{current.NOIDEN}}">
                    </form>
                </div>
                <div class="row">
                    <form class="form-inline">
                        <div class="col-md-3 col-md-offset-2">
                            <label for="ngay-flight">Ngày Bay</label>
                        </div>
                        <input style="margin-top: -6px; margin-bottom: 2px;" ng-model="current.NGAY" type="text" class="form-control" id="ngay-flight" value="{{current.NGAY}}">
                    </form>
                </div>
                <div class="row">
                    <form class="form-inline">
                        <div class="col-md-3 col-md-offset-2">
                            <label for="gio-flight">Giờ Bay</label>
                        </div>
                        <input style="margin-top: -6px; margin-bottom: 2px;" ng-model="current.GIO" type="text" class="form-control" id="gio-flight" value="{{current.GIO}}">
                    </form>
                </div>
                <div class="row">
                    <form class="form-inline">
                        <div class="col-md-3 col-md-offset-2">
                            <label for="ghe-flight">Số Lượng Ghế</label>
                        </div>
                        <input style="margin-top: -6px; margin-bottom: 2px;" ng-model="current.SOLUONGGHE" type="text" class="form-control" id="ghe-flight" value="{{current.SOLUONGGHE}}">
                    </form>
                </div>
                <div class="row">
                    <form class="form-inline">
                        <div class="col-md-3 col-md-offset-2">
                            <label for="giaban-flight">Giá Bán</label>
                        </div>
                        <input style="margin-top: -6px; margin-bottom: 2px;" ng-model="current.GIABAN" type="text" class="form-control" id="giaban-flight" value="{{current.GIABAN}}">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="updateFlight()" data-dismiss="modal">Update</button>
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
